# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/

# Logs
logs/
logs_mlp/
*.log

# Checkpoints
checkpoints/
checkpoints_mlp/

# Data
data/tmp/
data/embeddings_cache/

# TensorBoard
runs/

# macOS
.DS_Store
